<div>
	<button *ngIf="!selectedAddObject" class="btn btn-primary round outline"
			(click)="selectAddObject()">
		 Adicionar Novo <i class="glyphicon glyphicon-plus"></i>
	</button>
	<div *ngIf="selectedAddObject">
		<div [ngSwitch]="findType()">
			<main-group-add *ngSwitchCase="'MainGroup'"
					[weight]="sumPercentageForAdd()"
					(onAdd)="onAdd($event)"></main-group-add>
			<sub-group-add *ngSwitchCase="'SubGroup'"
					[weight]="sumPercentageForAdd()"
					[mainGroup]="father"
					(onAdd)="onAdd($event)"></sub-group-add>
			<criterion-add *ngSwitchCase="'Criterion'"
					[weight]="sumPercentageForAdd()"
					[subGroup]="father"
					(onAdd)="onAdd($event)"></criterion-add>
	</div>
</div>
<div></div>
<div class="list" *ngFor= 'let obj of objects'>
	<div *ngIf="!selectedEditObject">
		<table (click)="showChildren(obj)">
			<tr>
				<th> {{obj.name}} </th>
				<th> {{obj.weight}}% </th>
				<th><button class="btn btn-neutral round outline"
					(click)="selectEditObject(obj)">
					<i class="glyphicon glyphicon-pencil"></i>
				</button></th>
				<th><button type="button" class="btn btn-delete round outline"
					(click)="deleteObject(obj)">
					<span class="glyphicon glyphicon-trash"></span>
				</button></th>
			</tr>
		</table>
	</div>
	<div *ngIf="selectedEditObject">
		<div *ngIf="selectedEditObject.name == obj.name">
			<div [ngSwitch]="findType()">
				<main-group-edit *ngSwitchCase="'MainGroup'"
						[selectedObject]="selectedEditObject"
						[weight]="sumPercentage()"
						(onAction)="onAction()">
				</main-group-edit>
				<sub-group-edit *ngSwitchCase="'SubGroup'"
						[selectedObject]="selectedEditObject"
						[weight]="sumPercentage()"
						(onAction)="onAction()">
				</sub-group-edit>
				<criterion-edit *ngSwitchCase="'Criterion'"
						[selectedObject]="selectedEditObject"
						[weight]="sumPercentage()"
						(onAction)="onAction()">
				</criterion-edit>
			</div>
		</div>
		<div *ngIf="selectedEditObject.name != obj.name">
			<label> {{obj.name}} </label>
			<label> {{obj.weight}}% </label>
		</div>
	</div>
</div>
