<div [ngSwitch]="objType">
    <ctemplate-edit *ngSwitchCase="'Ctemplate'"
                    [selectedObject]="selectedEditObject"
                    (onAction)="onAction()">
    </ctemplate-edit>
    <main-group-edit *ngSwitchCase="'MainGroup'"
                     [selectedObject]="selectedEditObject"
                     [weight]="weight"
                     (onAction)="onAction()">
    </main-group-edit>
    <sub-group-edit *ngSwitchCase="'SubGroup'"
                    [selectedObject]="selectedEditObject"
                    [weight]="weight"
                    (onAction)="onAction()">
    </sub-group-edit>
    <criterion-edit *ngSwitchCase="'Criterion'"
                    [selectedObject]="selectedEditObject"
                    [objType]="objType"
                    [weight]="weight"
                    (onAction)="onAction()">
    </criterion-edit>
    <accessibility-edit *ngSwitchCase="'Accessibility'"
                        [criterion]="father"
                        [selectedObject]="selectedEditObject"
                        [weight]="weight"
                        (onAction)="onAction()">
    </accessibility-edit>
</div>
