<div [ngSwitch]="objType">
	<main-group-add *ngSwitchCase="'MainGroup'"
			[weight]="weight"
			(onAdd)="onAdd($event)"></main-group-add>
	<sub-group-add *ngSwitchCase="'SubGroup'"
			[weight]="weight"
			[mainGroup]="father"
			(onAdd)="onAdd($event)"></sub-group-add>
	<criterion-add *ngSwitchCase="'Criterion'"
			[weight]="weight"
			[objType]="objType"
			[subGroup]="father"
			(onAdd)="onAdd($event)"></criterion-add>
	<accessibility-add *ngSwitchCase="'Accessibility'"
			[weight]="weight"
			[criterion]="father"
			(onAdd)="onAdd($event)"></accessibility-add>
</div>
