<div [ngSwitch]="objType">
    <ctemplate-add *ngSwitchCase="'Ctemplate'"
                   [objType]="objType"
                   (onAdd)="onAdd($event)"></ctemplate-add>
    <main-group-add *ngSwitchCase="'MainGroup'"
                    [weight]="weight"
                    [ctemplate]="father"
                    (onAdd)="onAdd($event)"></main-group-add>
    <sub-group-add *ngSwitchCase="'SubGroup'"
                   [weight]="weight"
                   [mainGroup]="father"
                   (onAdd)="onAdd($event)"></sub-group-add>
    <criterion-add *ngSwitchCase="'Criterion'"
                   [weight]="weight"
                   [objType]="objType"
                   [subGroup]="father"
                   (onAdd)="onAdd($event)"></criterion-add>
</div>


