.netrwhist
*~
tags
.idea/
**.swp
**/pkg/**
backend/go.sh
backend/mongo.sh
frontend/angular.sh
frontend/karma.sh
database/classdiagram.png
node_modules
**/karma.conf.js
database/uml/classdiagram.png
database/cluster
