<div class="title-home">
    <h1> Como Funciona </h1>
</div>
<div class="main-wrap">
        <div id="content-dib" class="content-elements">
            <h2 class="metodologia">Metodologia</h2>

            <div class="metodologia-img-div">
                    <img  class="metodologia-img-png" src="/assets/images/imagem1_1_orig.png" alt="Imagem">
            </div>

            <div>
                <div class="div-divider"></div>
                <hr class="styled-hr">
                <div class="div-divider"></div>
            </div>

            <h2 class="distico">Para que serve o dístico?</h2>
                <table>
                    <tr>
                        <td class="img_col">
                             <img class="img_1" src="/assets/images/g3961_1.png" alt="placesDitic">
                        </td>
                        <td class="img_col">
                             <img class="img_2" src="/assets/images/g3337.png" alt="placesLog">
                        </td>
                    </tr>
                </table>

            <div class="paragraph"><br>
                <span>​O dístico permite reconhecer o espaço como uma referência em acessibilidade e fornecer informação sobre o estado atual das condições de acessibilidade do lugar, podendo ser utilizado em diversas situações (ex: na porta do estabelecimento, na plataforma de turismo da cidade, plataformas de turismo acessível, cartazes de eventos, redes sociais, etc...).
                </span>
            </div>

            <div>
                <div class="div-divider"></div>
                <hr class="styled-hr">
                <div class="div-divider"></div>
            </div>

            <div class="col-lg-12 btn-center-div">
                <button type="button" class="btn btn-primary btn-md">ADERIR</button>
            </div>
        </div>
</div>
