<div class="title-home">
    <h1> Como Funciona </h1>
</div>
<div class="main-wrap">
            <div id="content-dib" class="content-elements">
                <h2 class="metodologia">Metodologia</h2>

                <div class="metodologia-img-div">
                        <img  class="metodologia-img-png" src="/assets/images/imagem1_1_orig.png" alt="Imagem">
                </div>

                <div>
                    <div class="div-divider"></div>
                    <hr class="styled-hr">
                    <div class="div-divider"></div>
                </div>

                <h2 class="distico">Para que serve o dístico?</h2>
                    <table>
                        <tr>
                            <td class="img_col">
                                 <img class="img_1" src="/assets/images/g3961_1.png" alt="placesDitic">
                            </td>
                            <td class="img_col">
                                 <img class="img_2" src="/assets/images/g3337.png" alt="placesLog">
                            </td>
                        </tr>
                    </table>

                <div class="paragraph"><br>
                    <span>​O dístico permite reconhecer o espaço como uma referência em acessibilidade e fornecer informação sobre o estado atual das condições de acessibilidade do lugar, podendo ser utilizado em diversas situações (ex: na porta do estabelecimento, na plataforma de turismo da cidade, plataformas de turismo acessível, cartazes de eventos, redes sociais, etc...).
                    </span>
                </div>

                <div>
                    <div class="div-divider"></div>
                    <hr class="styled-hr">
                    <div class="div-divider"></div>
                </div>
            </div>
            <div class="title-home-2">
                <h1>VANTAGENS EM ADERIR</h1>
            </div>

            <div>
                <div class="div-divider"></div>
                <hr class="styled-hr">
                <div class="div-divider"></div>
            </div>

            <div class="col-md-8">
                <div class="col-md-7">
                    <img src="/assets/images/global_1.png" alt="Picture"/>
                </div>
                <div class=".col-md-4">
                    <h2>BENEF&Iacute;CIOS SOCIAIS</h2>
                    <span>Contribuir para a constru&ccedil;&atilde;o de uma sociedade cada vez mais inclusiva, atrav&eacute;s da elimina&ccedil;&atilde;o de barreiras f&iacute;sicas, sensoriais e comportamentais</span>
                </div>
            </div>

    <div>
        <div class="div-divider"></div>
        <hr class="styled-hr">
        <div class="div-divider"></div>
    </div>

            <div class="col-md-8">
                <div class="col-md-7 divOver">
                    <img src="/assets/images/pie-chart_1.png" alt="Picture"/>
                </div>
                <div class=".col-md-4 divOver">
                    <h2>NOVOS MERCADOS</h2>
                    <span>A acessibilidade &eacute; um fator de decis&atilde;o. Com a implementa&ccedil;&atilde;o de acessibilidade est&aacute; exposto para atrair novos segmentos de mercado</span>
                </div>
            </div>

    <div>
        <div class="div-divider"></div>
        <hr class="styled-hr">
        <div class="div-divider"></div>
    </div>

            <div class="col-md-8">
                <div class="col-md-7">
                    <img src="/assets/images/interface_1.png" alt="Picture"/>
                </div>
                <div class=".col-md-4">
                    <h2>RECONHECIMENTO</h2>
                    <span>Pelo compromisso em garantir boas pr&aacute;ticas de acessibilidade e desenho universal, sendo tamb&eacute;m um fator diferenciador do lugar</span>
                </div>
            </div>

    <div>
        <div class="div-divider"></div>
        <hr class="styled-hr">
        <div class="div-divider"></div>
    </div>

            <div class="col-md-8">
                <div class="col-md-7">
                    <img src="/assets/images/balance_1.png" alt="Picture"/>
                </div>
                <div class=".col-md-4">
                    <h2>CUMPRIMENTO DA LEGISLA&Ccedil;&Atilde;O</h2>
                    <span>Ser um exemplo de um lugar que se preocupa em cumprir com a legisla&ccedil;&atilde;o de acessibilidade</span>
                </div>
            </div>

    <div class="col-lg-12 btn-center-div">
       <button type="button" class="btn btn-primary btn-md buttonAccept" routerLink="/register">ADERIR</button>
    </div>
</div>
