<div class="form_criterion panel col-sm-10">
  <label class="col-form-label">write were</label>
  <input id="demo_vertical" type="number" value="0" name="demo_vertical">
  <div>
    <label class="col-form-label ">Sub groups</label>
    <button class="col-form-label glyphicon glyphicon-plus" (click)="onPress()"></button>
    <div>
      <!--<li *ngFor="let item of items">{{item}}</li>-->
      <label class="col-form-label">teste</label>
      <button class="col-form-label glyphicon glyphicon-minus"></button>
    </div>
  </div>
</div>

