<div *ngIf="!loggedIn">
    <h1>Login</h1>
    <input type="text"
           required
           [(ngModel)]="session.username"
           placeholder="Username">
    <input type="password"
           required
           [(ngModel)]="session.password"
           placeholder="Password">
    <button class="btn btn-success round outline"
            (click)="login()">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-neutral round outline"
            (click)="cancel()">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>

<div *ngIf="loggedIn">
    <h1>Logout</h1>
    <h3>{{session.name}}</h3>
    <button class="btn btn-success round outline"
            (click)="logout()">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
</div>