<div>
    <h1>Login</h1>
    <input type="text"
           required
           [(ngModel)]="selectedObject.username"
           placeholder="Username">
    <input type="password"
           required
           [(ngModel)]="selectedObject.password"
           placeholder="Password">
    <button class="btn btn-success round outline"
            (click)="pressed(selectedObject)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-neutral round outline"
            (click)="pressed(null)">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>