<div *ngIf="!session.id">
    <h1>Login</h1>
    <input type="text"
           required
           [(ngModel)]="session.username"
           placeholder="Username">
    <input type="password"
           required
           [(ngModel)]="session.password"
           placeholder="Password">
    <button class="btn btn-success round outline"
            (click)="loginPressed(session)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
</div>

<div *ngIf="session.id">
    <h1>Logout</h1>
    <h3>{{session.name}}</h3>
    <button class="btn btn-success round outline"
            (click)="logoutPressed(session)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
</div>