<footer>
<div class="form_main_group panel">
  <form action="submit">
    <div class="row1">
      <div class="input">
        <label for="acessos" class="col-form-label">Acessos</label>
        <label class="percentage">10%</label>
        <button class="btn glyphicon glyphicon-pencil" id="acessos" [routerLink]="['/sub_group','acessos']"></button>
      </div>

      <div class="input">
        <label for="bens_e_servicos" class="col-form-label">Bens e Serviços</label>
        <label class="percentage">20%</label>
        <button class="btn glyphicon glyphicon-pencil" id="bens_e_servicos" [routerLink]="['/sub_group','bens_e_servicos']"></button>
      </div>
    </div>

    <div class="row2">
      <div class="input">
        <label for="percurso_exterior" class="col-form-label">Percurso Exterior</label>
        <label class="percentage">50%</label>
        <button class="btn glyphicon glyphicon-pencil" id="percurso_exterior" [routerLink]="['/sub_group','percurso_exterior']"></button>
      </div>

      <div class="input">
        <label for="percurso_interior" class="col-form-label">Percurso Interior</label>
        <label class="percentage">60%</label>
        <button class="btn glyphicon glyphicon-pencil" id="percurso_interior" [routerLink]="['/sub_group','percurso_interior']"></button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary submit" >Submit</button>
  </form>
</div>
</footer>
