<div class="col-md-6">
    <h1>Register</h1>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group"
             [ngClass]="{'has-error': f.submitted && !username.valid}">
            <input type="text"
                   class="form-control"
                   name="username"
                   [(ngModel)]="user.username"
                   #username="ngModel"
                   placeholder="Utilizador"
                   required pattern="^[A-Za-z][A-Za-z0-9\.\-_]{2,15}$">
        </div>
        <div *ngIf="f.submitted && !username.valid" class="help-block">
            Utilizador tem que começar com uma letra e ter entre 3 e 16
            letras ou números
        </div>
        <div *ngIf="errorMsg && f.submitted"
             class="help-block">
            Utilizador já existe
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': f.submitted && !name.valid}">
            <input type="text"
                   class="form-control"
                   name="name"
                   [(ngModel)]="user.name"
                   #name="ngModel"
                   placeholder="Nome"
                   required>
        </div>
        <div *ngIf="f.submitted && !username.valid" class="help-block">
            Nome tem que ser preenchido
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': f.submitted && !email.valid}">
            <input type="text"
                   class="form-control"
                   name="email"
                   [(ngModel)]="user.email"
                   #email="ngModel"
                   placeholder="Email"
                   required pattern="^[^\s@]+@[^\s@]+\.[^\s@.]+$">
        </div>
        <div *ngIf="f.submitted && !email.valid" class="help-block">
            Email tem que ser preenchido e deve ser do tipo <i>john@doe.com</i>.
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': f.submitted && !password.valid}">
            <input type="password"
                   class="form-control"
                   name="password"
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   placeholder="Palavra Passe"
                   required validateEqual="confirmPassword" reverse="true">
        </div>
        <div *ngIf="f.submitted && !password.valid" class="help-block">
            Palavra passe tem que ser preenchida
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': f.submitted && !confirmPassword.valid}">
            <input type="password"
                   class="form-control"
                   name="confirmPassword"
                   [(ngModel)]="user.confirmPassword"
                   #confirmPassword="ngModel"
                   placeholder="Confirme Palavra Passe"
                   required validateEqual="password">
        </div>
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">
            Palavra passe tem que ser confirmada
        </div>
        <div *ngIf="session.role == 'superadmin'"
             class="form-group"
             [ngClass]="{'has-error': f.submitted && !user.role}">
            Tipo:
            <select class="form-control"
                    [(ngModel)]="user.role"
                    name="role"
                    required>
                <option *ngFor="let optionRole of optionRolesSA"
                        [ngValue]="optionRole.value">{{optionRole.label}}</option>
            </select>
        </div>
        <div *ngIf="session.role == 'localadmin'"
             class="form-group"
             [ngClass]="{'has-error': f.submitted && !user.role}">
            Tipo:
            <select class="form-control"
                    [(ngModel)]="user.role"
                    name="role"
                    required>
                <option *ngFor="let optionRole of optionRolesLA"
                        [ngValue]="optionRole.value">{{optionRole.label}}</option>
            </select>
        </div>
        <div *ngIf="session.role && f.submitted && !user.role"
             class="help-block">
            Tem que escolher um tipo de utilizador
        </div>
        <div class="form-group">
            <input type="number"
                   class="form-control"
                   name="mobile"
                   [(ngModel)]="user.mobile"
                   #mobile="ngModel"
                   placeholder="Telemóvel">
        </div>
        <div class="form-group">
            <input type="number"
                   class="form-control"
                   name="phone"
                   [(ngModel)]="user.phone"
                   #mobile="ngModel"
                   placeholder="Telefone">
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-success round outline">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button"
                    class="btn btn-neutral round outline"
                    (click)="cancel()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </form>
</div>
