<div class="form_criterion panel col-sm-16">
  <label class="col-form-label">{{id}}</label>
    <div>
      <label class="col-form-label">Sub-Group</label>
      <input id="subGroup" type="text"  name="subGroup" #Input_subGroup>
      <button  class="btn btn-primary glyphicon glyphicon-plus" (click)="onAddSubgroup(Input_subGroup.value)"> </button>
      <div class="col-xs-14" *ngFor="let item of formGroup.value[id]; let i = index" >
        <label class="col-form-label">{{item.subGroup}} (sub-group)</label>
        <input id="criterios"  type="text"  name="criterios" #Input_Criteria>
        <button  class="btn btn-primary glyphicon glyphicon-plus" (click)="onAddCriteria(item.subGroup,Input_Criteria.value)">adicionar</button>
        <div class="col-xs-12" *ngFor="let crite of item.criteria.controls; let j = index">
          <br>
          <label class="col-form-label">{{crite.criteria_name}} (criteria)</label>
          <br>
          <label class="col-form-label">Comments</label>
          <input  type="text"  name="comments" class="form-control" [(ngModel)]="crite.Comments">
          <tr><label class="col-form-label">Physical:</label>
          <tr><input  type="text"  name="phy" class="form-control" [(ngModel)]="crite.weigths.Physical">
          <tr><label class="col-form-label">Auditive:</label>
          <tr><input  type="text"  name="aud" class="form-control" [(ngModel)]="crite.weigths.Auditive">
          <br>
          <tr><label class="col-form-label">Visual</label>
          <tr><input  type="text"  name="vis" class="form-control" [(ngModel)]="crite.weigths.Visual">
          <tr><label class="col-form-label">Cognitive</label>
          <tr><input  type="text"  name="cog" class="form-control" [(ngModel)]="crite.weigths.Cognitive">
          <tr><label class="col-form-label">Good practice</label>
          <tr><input  type="text"  name="cog" class="form-control" [(ngModel)]="crite.weigths.GoodPractice">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary pull-right submit" >Save</button>
    </div>
</div>


