<div>
    <input *ngIf="objType!='Accessibility'" [(ngModel)]="login.name"
           placeholder="name" size="60" /> <br>
    <span *ngIf="objType=='Accessibility'" class="{{login.name}}">
        {{selectedObject.name}}</span>
    <label *ngIf="objType=='Criterion'">
        Boa Pratica <input type="checkbox"
                           [(ngModel)]="goodPractice"
                           [checked]="goodPractice"
                           (change)="!goodPractice">
    </label>
    <input *ngIf="objType=='Criterion'"
           [(ngModel)]="login.legislation"
           [disabled]="goodPractice"
           placeholder="legislação"/>
    <input *ngIf="objType!='AuditTemplate'"
           type="number" step="1" min="0" max="100"
           required
           [(ngModel)]="login.weight"
           placeholder="peso" [class.warning]="checkPercentage()"/>
    <button class="btn btn-success round outline"
            (click)="pressed(selectedObject)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-neutral round outline"
            (click)="pressed(null)">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>
