<div *ngFor='let mainGroup of mainGroups'>
    <table class="cursor-pointer" (click)="showSubGroups(mainGroup)">
        <tr>
            {{mainGroup.name}}
        </tr>
    </table>
</div>
<hr>
<div *ngIf="selectedMainGroup">
    <div *ngFor="let subGroup of selectedSubGroups">
        <table class="cursor-pointer"
               *ngIf="subGroup.main_group == selectedMainGroup._id"
               (click)="showCriteria(subGroup)">
            <tr>
                {{subGroup.name}}
            </tr>
        </table>
    </div>
</div>
<hr>
<div *ngIf="criteria">
    <div class="cursor-pointer" *ngFor="let criterion of criteria">
        <table (click)="auditModal.open()">
            <tr>
                {{criterion.name}}
            </tr>
        </table>
    </div>
    <modal #auditModal>
        <modal-header>
            <h1>Modal header</h1>
        </modal-header>
        <modal-content>
            Hello Modal!
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="auditModal.close()">close</button>
        </modal-footer>
    </modal>
</div>
