<div class="list" *ngFor='let mainGroup of mainGroups'>
    <table class="cursor-pointer" (click)="showChildren(mainGroup)">
        <tr>
            {{mainGroup.name}}
        </tr>
    </table>
</div>
<hr>
<div *ngIf='subGroups'>
    <div *ngFor='let subGroup of subGroups'>
        <table>
            <tr>
                {{subGroup.name}}
				<input type="checkbox" [checked]="checkedSubGroup(subGroup)"
						(change)="toggleSubGroup(subGroup)">
            </tr>
        </table>
    </div>
</div>
<hr>
<div>
    <div *ngIf='selectedSubGroups'>
        <span *ngFor='let subGroup of selectedSubGroups'>
            {{subGroup.id}}
        </span>
    </div>
    <button *ngIf='selectedSubGroups.length > 0'
            class="btn btn-success round outline"
            (click)="pressed()">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
</div>
