<div *ngIf='auditTemplate' class="list">
    <p class="h1">Modelo</p>
    <table class="cursor-pointer" (click)="showMainGroups(auditTemplate)">
        <tr>
            {{auditTemplate.name}}
        </tr>
    </table>
    <hr>
</div>
<div *ngIf='mainGroups.length > 0'>
    <p class="h1">Grupos</p>
    <div class="list" *ngFor='let mainGroup of mainGroups'>
        <table class="cursor-pointer" (click)="showSubGroups(mainGroup)">
            <tr>
                {{mainGroup.name}}
            </tr>
        </table>
    </div>
    <hr>
</div>
<div *ngIf='subGroups.length > 0'>
    <p class="h2">Subgrupos</p>
    <div *ngFor='let subGroup of subGroups'>
        <table>
            <tr>
                {{subGroup.name}}
                <input type="checkbox" [checked]="checkedSubGroup(subGroup)"
                       (change)="toggleSubGroup(subGroup)">
            </tr>
        </table>
    </div>
    <hr>
</div>
<div>
    <button *ngIf='selectedSubGroups.length > 0'
            class="btn btn-success round outline"
            (click)="pressed()">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
</div>
