<p class="h1">Auditoria - Escolha dos Sub-grupos</p>
<br>
<p class="h2">Grupos</p>
<div class="list" *ngFor='let mainGroup of mainGroups'>

    <table class="cursor-pointer" (click)="showChildren(mainGroup)">
        <tr>
            {{mainGroup.name}}
        </tr>
    </table>
</div>
<hr>
<div *ngIf='subGroups'>
    <p class="h2">Sub-grupos</p>
    <div *ngFor='let subGroup of subGroups'>
        <table>
            <tr>
				<md-checkbox [checked]="isSelected(subGroup)"
					 (change)="toggleSubGroup(subGroup)">
					{{subGroup.name}}
				</md-checkbox>
            </tr>
        </table>
    </div>
</div>
<hr>
<div>
    <button *ngIf='selectedSubGroups.length > 0'
            class="btn btn-primary"
            (click)="pressed()">
		Concluido
    </button>
</div>
